@model ProyectoWeb1.ViewModel.Producto
@{
    ViewBag.Title = "Alta";
}
<h2>Alta Producto</h2>
@using (Html.BeginForm("Guardar", "Producto"))
{
    @Html.ValidationSummary()
    @Html.EditorForModel()
    <input type="submit" />
}



