@model List<ProyectoWeb1.ViewModel.Producto>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
@foreach (var producto in Model)
{
    <label>@producto.Nombre</label>
    <label>@producto.Precio</label>
    <label>@producto.Cantidad</label>
    <hr>
}
