@model ProyectoWeb1.ViewModel.Cliente
@{
    ViewBag.Title = "Alta";
}

<h2>Alta Cliente</h2>

@using (Html.BeginForm("Guardar", "Clientes"))
{
    @Html.ValidationSummary()
    @Html.EditorForModel()
    <input type="submit" />
}
 