@model List<ProyectoWeb1.ViewModel.Cliente>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
@foreach (var cliente in Model)
{
    <label>@cliente.Apellido</label>
    <label>@cliente.Nombre</label>
    <hr>
}
